main {
    margin-bottom: 100px; 
}

.card {
    border: 2px solid #0047A0;
}

.card:hover {
    transform: none;
}

@media (min-height: 710px) {
    footer {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
}