* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#logo {
    width: 20px; 
    height: auto;
}

header, footer {
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

.wordpage .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wordpage .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordpage .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjusted max width to not exceed 600px */
}

.wordpage .character-display {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.wordpage .character-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.wordpage .korean-character {
    font-size: 72px;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.wordpage .sound-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.wordpage .sound-button img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 2px;
}

.wordpage .sound-button svg {
    width: 20px;
    height: auto;
}

.wordpage .choice-container {
    border: 2px solid #000; /* Replace with your preferred border color and width */
    padding: 20px;
    border-radius: 15px; /* Adjust for desired roundness */
    margin-top: 20px; /* Space above the choices box */
    background-color: #f4f4f4; /* Replace with your preferred background color */
    width: fit-content; /* Adjust width to fit the content */
    margin-left: auto; /* Center the box horizontally */
    margin-right: auto;
}

.wordpage .choices {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wordpage .choice {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    background-color: #FFF;
    transition: background-color 0.3s ease;
}

.wordpage .choice:hover {
    background-color: #eaeaea;
}

.wordpage .choice[aria-checked="true"] {
    background-color: #ddd;
}

.wordpage .choice:focus {
    outline: none;
    border: 2px solid #007BFF;
}

.studyguide .card-footer {
    background-color: white;
}

.studyguide .card-img {
    width: 100%;
    object-fit: cover;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 598px) {
    .wordpage .korean-character {
        font-size: 48px; 
    }

    .wordpage .choice {
        flex-grow: 1; 
    }
}

@media (min-width: 992px) {

}
