* {
    box-sizing: border-box;
    font-family: 'Rubik';
}

#logo {
    width: 20px; 
    height: auto;
}

header, footer {
    text-align: center;
    padding: 10px;
}

nav {
    display: none;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F9F6F0;
    border-right: 1px solid #D3D3D3;
    overflow-x: hidden;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 20px 8px 20px 16px;
    margin: 0px 5px 0 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #36454F;
    display: block;
}

nav a:hover, nav a:focus {
    background-color: #ADD8E6;
    color: black;
    transition: ease-out .25s;
}

nav a:active {
    background-color: #ADD8E6;
    color:white;
}

header .hamburger {
    position: static;
    color: #36454F;
    top: 0;
    left: 0;
    padding: 1.25rem;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 256px;
    height: auto;
}

img.profile-icon {
    width: 100px; 
    height: auto; 
}

@media (max-width: 598px) {
    .wordpage .korean-character {
        font-size: 48px; 
    }

    .wordpage .choice {
        flex-grow: 1; 
    }
}

@media (min-width: 992px) {
    main, header {
        margin-left: 220px;
    }

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }
}
