body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Start Button Styles */
.start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;             
}

.start-button:hover {
    background-color: #0056b3;
}

.character-display{ 
    opacity: 1;
}

/* Answer Choice Button Styles */
.choices {
    display: flex; /* Arrange choices horizontally */
    justify-content: center; /* Center choices within container */
    flex-wrap: wrap; /* Allow wrapping to next line if needed */
}

.choice {
    flex: 1 0 200px; /* Give each choice some flexibility and a minimum width */
    margin: 10px;   /* Add space between choices */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.choice:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
}

/* Add styles for correct and incorrect answers */
.choice.correct {
    background-color: #4CAF50; /* Green for correct */
    color: white;
}

.choice.incorrect {
    background-color: #f44336; /* Red for incorrect */
    color: white;
}
