body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.content-wrapper {
    display: flex; /* Use flexbox to center and align content */
    flex-direction: column; /* Stack elements vertically */
    align-items: center;   /* Center items horizontally */
    width: 100%; /* Use full available width */
    margin: 0 auto;        /* Use margin to center the entire content container */
  }
  
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Start Button Styles */
.start-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
    margin-bottom: 150px;            
}

.start-button:hover {
    background-color: #0056b3;
}

.character-display{ 
    opacity: 1;
}

/* Answer Choice Button Styles */
.choices {
    display: flex;            
    justify-content: center;   
    flex-wrap: nowrap;         
    gap: 10px;                
    width: 100%;              
}

.choice {
    flex: 1 1 auto; 
    min-width: 150px;
    margin: 10px;   
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.choice:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
}

/* Add styles for correct and incorrect answers */
.choice.correct {
    background-color: #4CAF50; /* Green for correct */
    color: white;
}

.choice.incorrect {
    background-color: #f44336; /* Red for incorrect */
    color: white;
}
