/* General styling */
body {
    display: flex;          
    min-height: 100vh;     
    flex-direction: column; 
}

main { 
    flex: 1; 
}

* {
    box-sizing: border-box;
    font-family: 'Rubik';
}

#logo {
    width: 25px; 
    height: auto;
}

header, footer {
    text-align: center;
    padding: 10px;
}

header a.hamburger {
    text-align: right;
}

/* Style navigation sidebar */
nav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F9F6F0;
    border-right: 1px solid #D3D3D3;
    overflow-x: hidden;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* mobile navigation bar */
nav.mobile-nav {
    display: none; /* Hide the navigation by default on mobile */
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #F9F6F0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
}

nav.mobile-nav.active {
    display: flex; /* Show the mobile navigation when active */
    transform: translateX(0); /* Slide-in the mobile navigation */
}

nav.mobile-nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

nav.mobile-nav ul li {
    margin: 20px 0;
}
  
nav.mobile-nav .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 36px;
    z-index: 2;
}

nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 20px 8px 20px 16px;
    margin: 0px 5px 0 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #36454F;
    display: block;
}

nav a:hover, nav a:focus {
    background-color: #ADD8E6;
    color: black;
    transition: ease-out .25s;
}

nav a:active {
    background-color: #ADD8E6;
    color:white;
}

header .hamburger {
    position: static;
    color: #36454F;
    top: 0;
    left: 0;
    padding: 1.25rem;
}

input, label {
    margin-right: 4px;
}

/* Style cards */
.card {
    display: flex;            
    flex-direction: column;    
    align-items: center;       
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    display: block;
    max-width: 100%; 
    height: auto;   
    margin-bottom: 10px;
}

img.profile-icon {
    width: 100px; 
    height: auto; 
}

img.welcome-icon {
    width: 45px; 
    height: auto; 
}

footer {
    text-align: center;
    padding: 5px 10px; 
    font-size: 12px; 
    background-color: #8ccfff;
    color: #fff; 
}

footer p {
    margin: 2px 0; 
}

@media (max-width: 598px) {
    .wordpage .korean-character {
        font-size: 48px; 
    }

    .wordpage .choice {
        flex-grow: 1; 
    }
}

/* Change layout for large screens */
@media (min-width: 768px) {
    body {
        margin-left: 200px;
        margin-bottom: 50px;
    }

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

/* Prevent footer overlap in fullscreen */
@media (display-mode: fullscreen) {
  footer {
    position: static; 
    bottom: auto;   
  }
}
